.dashboard__body {
  display: flex;
  flex-direction: column;
  &--titleSeccion {
    margin: 1.063rem 9.813rem;
    & p {
      font-weight: bold;
      font-size: 1.53rem;
      text-align: center;
    }
  }

  &--front-daily {
    display: flex;
    flex-direction: column;
   
      width: 25.875rem;
      height: 17.875rem;
      margin-bottom: 1rem;
      & img {
        width: 25.875rem;
        height: 13.4375rem;
        object-fit: cover;
    object-position: center center;
      }
    
    & p {
      width: 25.875rem;
      height: 4.4375rem;
      background-color: #333333;
      font-family: Fira Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 1.5rem;
      padding: .625rem 2.3125rem;
      color: white;
    }
  }

  &--notice {
    margin-top: 1.0625rem;
    width: 25.875rem;
    height: 7.0625rem;
    background-color: khaki;
    display: flex;
    flex-direction: row;

    img {
      width: 13.5625rem;
      height: 7.0625rem;
      object-fit: cover;
    object-position: center center;
    }
    .content {
      width: 12.3125rem;
      padding: .3125rem;
      div p{
        padding: .125rem;
        }
      :nth-child(1) {/*section title*/
        float: left;
       p{
        font-size: .75rem;
       }
        
      }
      :nth-child(2) {/* news title*/
        font-family: Noto Serif;
        font-size: 1rem;
        font-style: normal;
        font-weight: normal;
      }
      :nth-child(3) {/* Author */
        float: right;
        p{

        }
      }
   
}
  }

  &--publicity {
    margin-top: 1.5rem;
    width: 25.9375rem;
    height: 6.75rem;
    background-color: lawngreen;
    img{
        object-fit: fill;
    object-position: center center;
        width: 25.9375rem;
        height: 6.75rem;
    }
  }

  &--front-weekly {
    margin: 2.5625rem 0 1.5rem 0;
    width: 25.875rem;
    height: 22.875rem;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    img{
        width: 25.875rem;
    height: 17.4375rem;
    object-fit: fill;
    object-position: center center;
    }
    div{
    background-color: #504545;  
    width: 25.875rem;
    height: 5.4375rem; 
    p{
        width: 23.875rem;
        height: 3.125rem;
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 1.25rem;
        color: white;   
        margin: 1.313rem 1.0625rem;
    }
    }
  }
}
