
.dashboard__body {
 display: flex; 
 flex-direction: column; 
 @include respond(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 18.75rem);
    gap: 1.25rem 1.25rem;
  }
  
  &--titleSeccion {
    margin: 1.063rem 9.813rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.563rem;
    @include respond(tablet) {
      font-style: normal;
      font-weight: bold;
      font-size: 2rem;
      line-height: 1.8125rem;
    }
  }
  @include respond(laptop) {
    &--titleSeccion {
      display: block;
    }
  }

  &--front-daily {
    @include respond(tablet) {
      grid-column: 1/3;
    }
    display: flex;
    flex-direction: column;
    width: 25.875rem;
    height: 17.875rem;
    margin-bottom: 1rem;

    @include respond(tablet) {
      width: 38.75rem;
      height: 30.6875rem;
    }
    & img {
      object-fit: cover;
      object-position: center center;
      width: 25.875rem;
      height: 13.4375rem;

      @include respond(tablet) {
        width: 38.75rem;
        height: 21.6875rem;
      }
    }

    & div {
      background-color: #333333;
      width: 25.875rem;
      height: 4.4375rem;

      @include respond(tablet) {
        width: 38.75rem;
        height: 9.0625rem;
      }

      p {
        padding: 0.625rem 2.3125rem;
        color: white;

        @include respond(tablet) {
          padding: 0.625rem 0.8125rem;
        }
      }

      p:nth-child(1) {
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.5rem;
      }

      p:nth-child(2) {
        font-size: 1rem;
      }
    }
  }

  &--notice {
    margin-top: 1.0625rem;
    width: 25.875rem;
    height: 7.0625rem;
    display: flex;
    flex-direction: row;
    border: 1px solid burlywood;
    @include respond(tablet) {
      margin-top: 0rem;
      flex-direction: column;
      width: 18.75rem;
      height: 23.375rem;
      gap: 1.25rem 1.25rem;
    }
    img {
      width: 13.5625rem;
      height: 7.0625rem;
      object-fit: cover;
      object-position: center center;
      @include respond(tablet) {
        width: 18.75rem;
        height: 9.625rem;
      }
    }
    .content {
      width: 12.3125rem;
      padding: 0.3125rem;

      @include respond(tablet) {
        width: 18.75rem;
        height: 13.75rem;
        padding: 0.1rem;
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
      }
      div {
        p {
          padding: 0.125rem;
          @include respond(tablet) {
            padding: 0rem;
          }
        }
      }
      :nth-child(1) {
        /*section title*/
        float: left;
        p {
          font-size: 0.75rem;
        }
      }
      :nth-child(2) {
        /* news title*/
        font-family: Noto Serif;
        font-size: 1rem;
        font-style: normal;
        font-weight: normal;
        @include respond(tablet) {
          font-size: 22px;
        }
      }
      :nth-child(3) {
        /* Author */
        float: right;
        p {
        }
      }
    }
  }

  &--publicity {
    margin-top: 1.5rem;
    width: 25.9375rem;
    height: 6.75rem;
    background-color: lawngreen;
    img {
      object-fit: fill;
      object-position: center center;
      width: 25.9375rem;
      height: 6.75rem;
    }
  }

  &--front-weekly {
    margin: 2.5625rem 0 1.5rem 0;
    width: 25.875rem;
    height: 22.875rem;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    img {
      width: 25.875rem;
      height: 17.4375rem;
      object-fit: fill;
      object-position: center center;
    }
    div {
      background-color: #504545;
      width: 25.875rem;
      height: 5.4375rem;
      p {
        width: 23.875rem;
        height: 3.125rem;
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 1.25rem;
        color: white;
        margin: 1.313rem 1.0625rem;
      }
    }
  }
}
