.dashboard__body {
  &--titleSeccion { // ? Configuración para el titulo de la portada
    p {
      text-align: center;
      font-size: 1.5625rem;
      font-weight: bold;
      margin: 1.0625rem 0;
    }
  }
  &--front-daily { // ? Configuración para la noticia principal del día
    width: 25.875rem;
    height: 17.875rem;
    display: flex;
    flex-direction: column;
    img {
      height: 13.4375rem;
      object-fit: cover;
      object-position: center center;
    }
    div {
      background-color: #333333;
      width: 25.875rem;
      color: white;
      p:nth-child(1) {
        font-size: 1.25rem;
        margin: 0.625rem 2.3125rem;
      }
      p:nth-child(2) {
        display: none;
      }
    }
  }
  
  &--noticeBox{
    display: grid;
    
  }


}
