

  .header{
    display: flex;
    flex-direction: row;
    background-image:url('/front/assets/FONDO1.jpg');
    .dashboard__header{

    &--burger{
      margin: 1.3rem 0 1.3rem 1.6rem; 
      
      & div{
        width: 2rem;
        height: 0.450rem;
        background-color: rgb(0, 0, 0);
        margin: 0.35rem 0;
      }
    
    }

    &--logo {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-shadow: 0.5px 1px 4px black;

      & img{
        width: 68px;
        height: 31px;
      }

      & p{
        font-style: italic;
        font-weight: 500;
      }

    } 
      
      
  }   

}


