.navMenu {
  position: fixed;
  top: 6.3rem;
  
  display: flex;
  flex-direction: column;
  
  visibility: hidden;
  overflow: hidden;

  background-color: #0B0A0A;
  height: 0; // Change to calc(100% - 6.3rem)
  width: 100%;
  transition: all .3s ease-in;
  
  &__item {
    border-bottom: 1px solid white;
    padding: 2.5rem 4rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    transition: all .3s;
    
    &:hover {
      padding: 2.5rem 5rem ;
    }
  }
}