.detallesNoticia {
  
  &__container {
    display: flex;
    max-width: 90rem;
    
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
    @include respond(tablet) {
      justify-content: center;
    }
  }
  
  &__article {
    width: 70%;
    padding: 2rem 0;
    margin-right: 3rem;
    
    @include respond(tablet) {
      width: 80%;
      margin-right: 0;
    }
    
    @include respond(phone) {
      width: 100%;
      
      display: flex;
      flex-direction: column;
      padding: 0;
      
      & > * {
        order: 1;
      }
    }
  }
  
  &__category {
    font-size: 2.5rem;
    font-weight: 600;
    color: #286513;
    margin: 2rem 0;
    
    @include respond(phone) {
      margin: 2rem .5rem;
    }
  }
  
  &__header {
    
  }
  
  &__liga {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: .6rem;
    
    @include respond(phone) {
      margin: 0 .5rem;
      margin-bottom: .6rem;
    }
  }
  
  &__title {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: .6rem;
    
    @include respond(tablet) {
      font-size: 2.3rem;
    }
    
    @include respond(phone) {
      margin: 0 .5rem;
      margin-bottom: .6rem;
    }
  }
  
  &__phraseNoticia {
    font-weight: 500;
    font-size: 1.3rem;
    
    @include respond(phone) {
      margin: 0 .5rem;
    }
  }
  
  &__main {
    @include respond(phone) {
      order: 0;
    }
  }
  
  &__portraitBox {
    position: relative;
    width: 100%;
    height: 40rem;
    background-color: red;
    margin: 2rem 0;
    
    @include respond(phone) {
      height: 25rem;
      margin: 0;
    }
  }
  
  &__portraitImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  &__footImg {
    display: flex;
    align-items: center;
    
    padding: 0 1rem;
    font-size: 1.3rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: #9ABF16;
  }
  
  &__nombreAutor {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
    text-transform: uppercase;
    
    @include respond(phone) {
      margin: 2rem .5rem;
    }
  }
  
  &__textContent {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    
    p:not(:first-child) {
      margin-top: 2rem;
    }
    
    @include respond(phone) {
      margin: 0 .5rem;
    }
  }
  
  &__aside {
    width: 30%;
    margin: 4rem 0;
    
    @include respond(tablet) {
      display: none;
    }
  }
  
  &__ultimasNoticias {
    width: 100%;
    height: 25rem;
    overflow-y: scroll;
  }
  
  &__ultimasNoticiasHeader {
    width: 100%;
    height: 3rem;
    padding: 0 .5rem;
    font-size: 1.5rem;
    font-style: italic;
    
    display: flex;
    align-items: center;
    
    background-color: #E2E2E2;
  }
  
  &__ultimasNoticiasPortrait {
    width: 100%;
  }
  
  &__ultimasNoticiasItem {
    padding: 1rem .5rem;
    border-bottom: 1px solid rgba(black, .5);
  }
  
  &__footer {
    width: 90.25rem !important;
  }
}