*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font-size to use rem that helps for responsive design. It represents 10px
  1rem = 10px,
  4.5rem = 45px
*/

html {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  @include respondMin(tablet) {
    padding-top: 12rem;
  }
  
  @include respond(tablet) {
    padding-top: 7rem;
  }
}